red_dir/.flows_USER-20181127YL.json.backup
[{"id":"73391e4c.e39af","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"d92272e6.2c328","type":"inject","z":"73391e4c.e39af","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":240,"wires":[["7605c43a.35c33c"]]},{"id":"99712ef9.fb2ec","type":"debug","z":"73391e4c.e39af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":240,"wires":[]},{"id":"6493c415.9142bc","type":"ui_gauge","z":"73391e4c.e39af","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":380,"wires":[]},{"id":"7605c43a.35c33c","type":"function","z":"73391e4c.e39af","name":"","func":"msg.payload=Math.round(Math.random()*100)\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["99712ef9.fb2ec","6493c415.9142bc"]]}]